# Ignore data from assignment_01
assignments/assignment_01/data

# Ignore data from assignment_02
assignments/assignment_02/data

# Ignore data from assignment_03
assignments/assignment_03/data

# Ignore data from assignment_04
assignments/assignment_04/data

# Ignore data from lesson_05
lessons/lesson_05/data

# Ignore data from assignment_05
assignments/assignment_05/data
assignments/assignment_05/log

# Ignore data from assignment_06
assignments/assignment_06/data
assignments/assignment_06/assemblies

# Ignore data from lesson_06
lessons/lesson_06/ecoli_bl21de3.fasta
lessons/lesson_06/lambda_reads.fastq
